    <h3><a href="{{ path('product_details', {'id': product.id}) }}">{{ product.name }}</a></h3>

    {% for photo in product.photos %}
        <img src="{{ photo.path }}" alt="{{ photo.product.name }}" />
    {% endfor %}

    <ul>
        <li>Prix HT : {{ product.price|displayPrice }}</li>
        <li>Prix TTC : {{ priceTTC(product.price) }} €</li>
    </ul>